@layer base {
  * {
    scrollbar-color: var(--border) var(--muted);
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  *::-webkit-scrollbar-track {
    background: var(--muted);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border: 2px solid var(--muted);
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--muted-foreground);
  }

  *::-webkit-scrollbar-corner {
    background: var(--muted);
  }
}
