name: Release

on:
  push:
    tags:
      - 'v*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:

      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Determine release meta
        id: release_meta
        run: |
          set -euo pipefail

          if [[ "$GITHUB_REF_NAME" =~ -([^+]+) ]]; then
            echo "channel=${BASH_REMATCH[1]%%.*}" >> $GITHUB_OUTPUT
            echo "prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "channel=latest" >> $GITHUB_OUTPUT
            echo "prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU Simulator
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Docker image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=false
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=${{ steps.release_meta.outputs.channel }}

      - name: Build and publish image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/arm64,linux/amd64
          cache-from: type=gha,scope=release
          cache-to: type=gha,mode=max,scope=release

      - name: Set up Node.js
        if: ${{ success() }}
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Generate changelog
        if: ${{ success() }}
        run: |
          set -euo pipefail

          case "${{ steps.release_meta.outputs.prerelease }}" in
            true) RELEASE_ARGS="--prerelease" ;;
            *)    RELEASE_ARGS="" ;;
          esac

          npx changelogithub --capitalize=false $RELEASE_ARGS
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
